<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>PaulaDeployer</display-name>

  <listener>
    <listener-class>com.digitalstables.pauladeployer.servlet.WebAppContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>PaulaDeployerServlet</servlet-name>
    <servlet-class>com.digitalstables.pauladeployer.servlet.PaulaDeployerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaulaDeployerServlet</servlet-name>
    <url-pattern>/PaulaDeployerServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
